<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yourui.web.dao.RuleGroupMapper">
  <resultMap id="BaseResultMap" type="com.yourui.web.model.RuleGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rule_group_name" jdbcType="VARCHAR" property="ruleGroupName" />
    <result column="gateway_address_ids" jdbcType="VARCHAR" property="gatewayAddressIds" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="del" jdbcType="TINYINT" property="del" />
    <result column="crtTime" jdbcType="TIMESTAMP" property="crttime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rule_group_name, gateway_address_ids, remark, del, crtTime
  </sql>
  <select id="selectByExample" parameterType="com.yourui.web.model.RuleGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rule_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rule_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rule_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yourui.web.model.RuleGroupExample">
    delete from rule_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yourui.web.model.RuleGroup">
    insert into rule_group (id, rule_group_name, gateway_address_ids, 
      remark, del, crtTime
      )
    values (#{id,jdbcType=BIGINT}, #{ruleGroupName,jdbcType=VARCHAR}, #{gatewayAddressIds,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{del,jdbcType=TINYINT}, #{crttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yourui.web.model.RuleGroup">
    insert into rule_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ruleGroupName != null">
        rule_group_name,
      </if>
      <if test="gatewayAddressIds != null">
        gateway_address_ids,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="crttime != null">
        crtTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ruleGroupName != null">
        #{ruleGroupName,jdbcType=VARCHAR},
      </if>
      <if test="gatewayAddressIds != null">
        #{gatewayAddressIds,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=TINYINT},
      </if>
      <if test="crttime != null">
        #{crttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yourui.web.model.RuleGroupExample" resultType="java.lang.Long">
    select count(*) from rule_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rule_group
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ruleGroupName != null">
        rule_group_name = #{record.ruleGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.gatewayAddressIds != null">
        gateway_address_ids = #{record.gatewayAddressIds,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.del != null">
        del = #{record.del,jdbcType=TINYINT},
      </if>
      <if test="record.crttime != null">
        crtTime = #{record.crttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rule_group
    set id = #{record.id,jdbcType=BIGINT},
      rule_group_name = #{record.ruleGroupName,jdbcType=VARCHAR},
      gateway_address_ids = #{record.gatewayAddressIds,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      del = #{record.del,jdbcType=TINYINT},
      crtTime = #{record.crttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yourui.web.model.RuleGroup">
    update rule_group
    <set>
      <if test="ruleGroupName != null">
        rule_group_name = #{ruleGroupName,jdbcType=VARCHAR},
      </if>
      <if test="gatewayAddressIds != null">
        gateway_address_ids = #{gatewayAddressIds,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=TINYINT},
      </if>
      <if test="crttime != null">
        crtTime = #{crttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yourui.web.model.RuleGroup">
    update rule_group
    set rule_group_name = #{ruleGroupName,jdbcType=VARCHAR},
      gateway_address_ids = #{gatewayAddressIds,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del = #{del,jdbcType=TINYINT},
      crtTime = #{crttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>